


.App-header {
  background-color: #282c34;
  color: white;
  min-height: 10vh;
}
.App-footer {
  color: white;
  background-color: #282c34;

}
.App-Container{
  display: flex;
  justify-content: space-around;
}
.App-Card{
  min-width: 20%;
  max-width: 20%;
  width: 20%;
  height: 20%;
  background-color: beige;
  color: #282c34;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); 
  margin: 5px;
  padding: 5px;
  
  
}
.App-Body{
  margin-top: 5%;
  margin-bottom: 5%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); 
  justify-content: center;
  list-style: none
}
.flex-item {
  
  padding: 5px;
  width: 200px;
  height: 150px;
  margin-top: 10px;
  line-height: 150px;
  color: white;
  font-weight: bold;
  font-size: 3em;
  text-align: center;
}