.App-header {
  background-color: #282c34;
  color: white;
  min-height: 10vh;
  align-items: center;
  border-radius: 10px;
  margin-bottom: 5%;
}
.App-footer {
  color: white;
  background-color: #282c34;
  margin-top: 5%;
}
.App-Container{
  display: flex;
  justify-content: space-around;
}
.Card{
  min-width: 20%;
  max-width: 20%;
  background-color: beige;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); 
  margin: 5px;
  padding: 5px;
  
  
}
.Card-grup{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  list-style: none
}
.Card-Body{
  border-radius: 10px;
  background-color: #282c34;
  color: white;
}
.Button{
  background-color: #282c34;
  margin: auto;
}
